<div class="container mt-4" *ngIf="registrationForm">
  <h2>Add Registration</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form-group">
    <div class="mb-3">
      <label class="form-label">First Name</label>
      <input formControlName="firstName" class="form-control" placeholder="First Name" required />
    </div>
    <div class="mb-3">
      <label class="form-label">Last Name</label>
      <input formControlName="lastName" class="form-control" placeholder="Last Name" required />
    </div>

    <div class="mb-3" formArrayName="socialSkills">
      <label class="form-label">Social Skills</label>
      <div *ngFor="let skill of socialSkills.controls; let i = index" class="d-flex">
        <input [formControlName]="i" class="form-control me-2" placeholder="Skill" />
      </div>
      <div><button type="button" class="btn btn-secondary mt-2" (click)="addSkill()">Add Skill</button></div>

    </div>

    <div class="mb-3" formArrayName="socialMediaAddresses" *ngIf="socialMediaAddresses?.controls">
      <label class="form-label">Social Media</label>
      <div *ngFor="let media of socialMediaAddresses.controls; let i = index" class="d-flex" [formGroupName]="i">
        <input [formControlName]="'platformId'" class="form-control" readonly />
        <input [formControlName]="'address'" class="form-control" placeholder="Profile URL" />
      </div>

    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Submit</button>
  </form>

  <table class="table" *ngIf="registrations$ | async as registrations">
    <thead>
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Firstname (rev)</th>
        <th scope="col">Lastname (rev)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of registrations">
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.firstName | reverseString}}</td>
        <td>{{item.lastName | reverseString}}</td>
      </tr>
    </tbody>
  </table>
</div>
